spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVİCE
          predicates:
            - Path=/api/users/**

        - id: activity-service
          uri: lb://ACTIVITY-SERVİCE
          predicates:
            - Path=/api/activities/**

        - id: ai-service
          uri: lb://AI-SERVİCE
          predicates:
            - Path=/api/recommendations/**



server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
